<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="Nez" version="0.10.0" targetFramework="net48" />
  <package id="Nez.PipelineImporter" version="0.9.5" targetFramework="net48" />
</packages>